In [126]:
##String Based Assignment Problem

In [127]:
#1. Write a program to reverse a string.
def reverse_string(s):
    return s[::-1]

In [128]:
#2. Check if a string is a palindrome.
#3. Convert a string to uppercase.
#4. Convert a string to lowercase.
#5. Count the number of vowels in a string.
#6. Count the number of consonants in a string.
#7. Remove all whitespaces from a string.
#8. Find the length of a string without using the `len()` function.
#9. Check if a string contains a specific word.
#10. Replace a word in a string with another word.
#11. Count the occurrences of a word in a string.
#12. Find the first occurrence of a word in a string.
#13. Find the last occurrence of a word in a string.
#14. Split a string into a list of words.
#15. Join a list of words into a string.
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.
#17. Check if a string starts with a specific word or phrase.
#18. Check if a string ends with a specific word or phrase.
#19. Convert a string to a title case (e.g., "hello world" to "Hello World").
#20. Find the longest word in a string.
#21. Find the shortest word in a string.
#22. Reverse the order of words in a string.
#23. Check if a string is alphanumeric.
#24. Extract all digits from a string.
#25. Extract all alphabets from a string.
#26. Count the number of uppercase letters in a string.
#27. Count the number of lowercase letters in a string.
#28. Swap the case of each character in a string.
#29. Remove a specific word from a string.
#30. Check if a string is a valid email address.
#31. Extract the username from an email address string.
#32. Extract the domain name from an email address string.
#33. Replace multiple spaces in a string with a single space.
#34. Check if a string is a valid URL.
#35. Extract the protocol (http or https) from a URL string.
#36. Find the frequency of each character in a string.
#37. Remove all punctuation from a string.
#38. Check if a string contains only digits.
#39. Check if a string contains only alphabets.
#40. Convert a string to a list of characters.
#41. Check if two strings are anagrams.
#42. Encode a string using a Caesar cipher.
#43. Decode a Caesar cipher encoded string.
#44. Find the most frequent word in a string.
#45. Find all unique words in a string.
#46. Count the number of syllables in a string.
#47. Check if a string contains any special characters.
#48. Remove the nth word from a string.
#49. Insert a word at the nth position in a string.
#50. Convert a CSV string to a list of lists.

In [129]:
# 2. Check if a string is a palindrome
def is_palindrome(s):
    return s == s[::-1]

In [130]:
# 3. Convert a string to uppercase
def to_uppercase(s):
    return s.upper()

In [131]:
# 4. Convert a string to lowercase
def to_lowercase(s):
    return s.lower()

In [132]:
# 5. Count the number of vowels in a string
def count_vowels(s):
    return sum(1 for char in s if char.lower() in 'aeiou')

In [133]:
# 6. Count the number of consonants in a string
def count_consonants(s):
    return sum(1 for char in s if char.isalpha() and char.lower() not in 'aeiou')

In [134]:
# 7. Remove all whitespaces from a string
def remove_whitespaces(s):
    return ''.join(s.split())

In [135]:
# 8. Find the length of a string without using the `len()` function
def string_length(s):
    count = 0
    for _ in s:
        count += 1
    return count

In [136]:
# 9. Check if a string contains a specific word
def contains_word(s, word):
    return word in s

In [137]:
# 10. Replace a word in a string with another word
def replace_word(s, old_word, new_word):
    return s.replace(old_word, new_word)

In [138]:
# 11. Count the occurrences of a word in a string
def count_word_occurrences(s, word):
    return s.split().count(word)

In [139]:
# 12. Find the first occurrence of a word in a string
def first_occurrence(s, word):
    return s.find(word)

In [140]:
# 13. Find the last occurrence of a word in a string
def last_occurrence(s, word):
    return s.rfind(word)

In [141]:
# 14. Split a string into a list of words
def split_string(s):
    return s.split()

In [142]:
# 15. Join a list of words into a string
def join_words(words):
    return ' '.join(words)

In [143]:
# 16. Convert a string where words are separated by spaces to underscores
def spaces_to_underscores(s):
    return s.replace(' ', '_')

In [144]:
# 17. Check if a string starts with a specific word or phrase
def starts_with(s, prefix):
    return s.startswith(prefix)

In [145]:
# 18. Check if a string ends with a specific word or phrase
def ends_with(s, suffix):
    return s.endswith(suffix)

In [146]:
# 19. Convert a string to title case
def to_title_case(s):
    return s.title()

In [147]:
# 20. Find the longest word in a string
def longest_word(s):
    return max(s.split(), key=len)

In [159]:
 # 21. Find the shortest word in a string
def shortest_word(s):
    return min(s.split(), key=len)

In [158]:
# 22. Reverse the order of words in a string
def reverse_word_order(s):
    return ' '.join(s.split()[::-1])

In [ ]:
# 23. Check if a string is alphanumeric
def is_alphanumeric(s):
    return s.isalnum()

In [ ]:
# 24. Extract all digits from a string
def extract_digits(s):
    return ''.join(filter(str.isdigit, s))

In [ ]:
 # 25. Extract all alphabets from a string
def extract_alphabets(s):
    return ''.join(filter(str.isalpha, s))

In [ ]:
# 26. Count the number of uppercase letters in a string
def count_uppercase(s):
    return sum(1 for char in s if char.isupper())

In [ ]:
# 27. Count the number of lowercase letters in a string
def count_lowercase(s):
    return sum(1 for char in s if char.islower())

In [ ]:
# 28. Swap the case of each character in a string
def swap_case(s):
    return s.swapcase()

In [ ]:
# 29. Remove a specific word from a string
def remove_word(s, word):
    return ' '.join(w for w in s.split() if w != word)

In [151]:
# 30. Check if a string is a valid email address
import re
def is_valid_email(s):
    regex = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+\$'
    return re.match(regex, s) is not None

In [ ]:

# 31. Extract the username from an email address string
def extract_username(email):
    return email.split('@')[0]

In [ ]:
# 32. Extract the domain name from an email address string
def extract_domain(email):
    return email.split('@')[1]

In [ ]:

# 33. Replace multiple spaces in a string with a single space
def replace_multiple_spaces(s):
    return ' '.join(s.split())

In [ ]:
# 34. Check if a string is a valid URL
def is_valid_url(url):
    regex = r'^(http://|https://|ftp://)?[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}(/.*)?\$'
    return re.match(regex, url) is not None

In [ ]:
# 35. Extract the protocol (http or https) from a URL string
def extract_protocol(url):
    if url.startswith("http://"):
        return "http"
    elif url.startswith("https://"):
        return "https"
    return None

In [ ]:
# 36. Find the frequency of each character in a string
def char_frequency(s):
    frequency = {}
    for char in s:
        frequency[char] = frequency.get(char, 0) + 1
    return frequency

In [ ]:
# 37. Remove all punctuation from a string
import string
def remove_punctuation(s):
    return s.translate(str.maketrans('', '', string.punctuation))

In [ ]:
# 38. Check if a string contains only digits
def contains_only_digits(s):
    return s.isdigit()

In [ ]:
# 39. Check if a string contains only alphabets
def contains_only_alphabets(s):
    return s.isalpha()

In [ ]:
# 40. Convert a string to a list of characters
def string_to_char_list(s):
    return list(s)

In [ ]:
# 41. Check if two strings are anagrams
def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)

In [ ]:
# 42. Encode a string using a Caesar cipher
def caesar_cipher_encode(s, shift):
    encoded = []
    for char in s:
        if char.isalpha():
            base = ord('a') if char.islower() else ord('A')
            encoded.append(chr((ord(char) - base + shift) % 26 + base))
        else:
            encoded.append(char)
    return ''.join(encoded)

In [ ]:
# 43. Decode a Caesar cipher encoded string
def caesar_cipher_decode(s, shift):
    return caesar_cipher_encode(s, -shift)

In [ ]:
# 44. Find the most frequent word in a string
def most_frequent_word(s):
    words = s.split()
    frequency = {}
    for word in words:
        frequency[word] = frequency.get(word, 0) + 1
    return max(frequency, key=frequency.get)

In [ ]:
# 45. Find all unique words in a string
def unique_words(s):
    return set(s.split())

In [ ]:
# 46. Count the number of syllables in a string
def count_syllables(s):
    vowels = "aeiouy"
    count = 0
    s = s.lower()
    for i in range(len(s)):
        if s[i] in vowels:
            if i == 0 or s[i - 1] not in vowels:
                count += 1
    if s.endswith('e'):
        count -= 1
    return max(count, 1)  # At least one syllable

In [ ]:
# 47. Check if a string contains any special characters
import re
def contains_special_characters(s):
    return bool(re.search(r'[^a-zA-Z0-9\s]', s))

In [ ]:
# 48. Remove the nth word from a string
def remove_nth_word(s, n):
    words = s.split()
    if 0 <= n < len(words):
        del words[n]
    return ' '.join(words)

In [ ]:
# 49. Insert a word at the nth position in a string
def insert_word_at_nth(s, word, n):
    words = s.split()
    words.insert(n, word)
    return ' '.join(words)

In [ ]:
# 50. Convert a CSV string to a list of lists
def csv_to_list_of_lists(csv_string):
    rows = csv_string.strip().split('\n')
    return [row.split(',') for row in rows]

#Examples
csv_data = "name,age,city\nAlice,30,New York\nBob,25,Los Angeles"
print(csv_to_list_of_lists(csv_data))  # [['name', 'age', 'city'], ['Alice', '30', 'New York'], ['Bob', '25', 'Los Angeles']]

In [ ]:
## LIST BASED PRACTICE PROBLEMS

In [ ]:
#1. Create a list with integers from 1 to 10.
#2. Find the length of a list without using the `len()` function.
#3. Append an element to the end of a list.
#4. Insert an element at a specific index in a list.
#5. Remove an element from a list by its value.
#6. Remove an element from a list by its index.
#7. Check if an element exists in a list.

#8. Find the index of the first occurrence of an element in a list.

#9. Count the occurrences of an element in a list.

#10. Reverse the order of elements in a list.
#11. Sort a list in ascending order.
#12. Sort a list in descending order.
#13. Create a list of even numbers from 1 to 20.
#14. Create a list of odd numbers from 1 to 20.
#15. Find the sum of all elements in a list.
#16. Find the maximum value in a list.
#17. Find the minimum value in a list.
#18. Create a list of squares of numbers from 1 to 10.
#19. Create a list of random numbers.
#20. Remove duplicates from a list.
#21. Find the common elements between two lists.
#22. Find the difference between two lists.
#23. Merge two lists.
#24. Multiply all elements in a list by 2.
#25. Filter out all even numbers from a list.
#26. Convert a list of strings to a list of integers.
#27. Convert a list of integers to a list of strings.
#28. Flatten a nested list.
#29. Create a list of the first 10 Fibonacci numbers.
#30. Check if a list is sorted.
#31. Rotate a list to the left by `n` positions.
#32. Rotate a list to the right by `n` positions.
#33. Create a list of prime numbers up to 50.
#34. Split a list into chunks of size `n`.
#35. Find the second largest number in a list.
#36. Replace every element in a list with its square.
#37. Convert a list to a dictionary where list elements become keys and their indices become values.
#38. Shuffle the elements of a list randomly.
#39. Create a list of the first 10 factorial numbers.
#40. Check if two lists have at least one element in common.
#41. Remove all elements from a list.
#42. Replace negative numbers in a list with 0.
#43. Convert a string into a list of words.
#44. Convert a list of words into a string.
#45. Create a list of the first `n` powers of 2.
#46. Find the longest string in a list of strings.
#47. Find the shortest string in a list of strings.
#48. Create a list of the first `n` triangular numbers.
#49. Check if a list contains another list as a subsequence.
#50. Swap two elements in a list by their indices.

In [ ]:
# 1. Create a list with integers from 1 to 10
def create_list():
    return list(range(1, 11))

In [ ]:
# 2. Find the length of a list without using the len() function
def find_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

In [ ]:
# 3. Append an element to the end of a list
def append_element(lst, element):
    lst += [element]  # Using list concatenation to append
    return lst

In [ ]:
# 4. Insert an element at a specific index in a list
def insert_element(lst, index, element):
    lst = lst[:index] + [element] + lst[index:]  # Slicing to insert
    return lst

In [ ]:
# 5. Remove an element from a list by its value
def remove_by_value(lst, value):
    if value in lst:
        lst.remove(value)
    return lst

In [ ]:
# 6. Remove an element from a list by its index
def remove_by_index(lst, index):
    if 0 <= index < len(lst):
        lst = lst[:index] + lst[index + 1:]  # Slicing to remove
    return lst

In [ ]:

# 7. Check if an element exists in a list
def exists_in_list(lst, element):
    return element in lst

In [ ]:
# 8. Find the index of the first occurrence of an element in a list
def index_of_element(lst, element):
    for index, value in enumerate(lst):
        if value == element:
            return index
    return -1  # Return -1 if not found

In [ ]:
# 9. Count the occurrences of an element in a list
def count_occurrences(lst, element):
    count = 0
    for value in lst:
        if value == element:
            count += 1
    return count

In [ ]:
# 10. Reverse the order of elements in a list
def reverse_list(lst):
    return lst[::-1]  # Slicing to reverse the list

In [ ]:
# 11. Sort a list in ascending order
def sort_ascending(lst):
    return sorted(lst)

In [ ]:
# 12. Sort a list in descending order
def sort_descending(lst):
    return sorted(lst, reverse=True)

In [ ]:
# 13. Create a list of even numbers from 1 to 20
def create_even_numbers():
    return [num for num in range(1, 21) if num % 2 == 0]

In [ ]:
# 14. Create a list of odd numbers from 1 to 20
def create_odd_numbers():
    return [num for num in range(1, 21) if num % 2 != 0]

In [ ]:
# 15. Find the sum of all elements in a list
def sum_of_elements(lst):
    total = 0
    for value in lst:
        total += value
    return total

In [ ]:
# 16. Find the maximum value in a list
def max_value(lst):
    if not lst:
        return None
    max_val = lst[0]
    for value in lst:
        if value > max_val:
            max_val = value
    return max_val

In [ ]:
# 17. Find the minimum value in a list
def min_value(lst):
    if not lst:
        return None
    min_val = lst[0]
    for value in lst:
        if value < min_val:
            min_val = value
    return min_val

In [ ]:
# 18. Create a list of squares of numbers from 1 to 10
def create_squares():
    return [num ** 2 for num in range(1, 11)]

In [ ]:
# 19. Create a list of random numbers
def create_random_numbers(size=10, lower=1, upper=100):
    return [random.randint(lower, upper) for _ in range(size)]

In [ ]:
# 20. Remove duplicates from a list
def remove_duplicates(lst):
    return list(set(lst))

In [ ]:
# 21. Find the common elements between two lists
def common_elements(list1, list2):
    return list(set(list1) & set(list2))

In [ ]:
# 22. Find the difference between two lists
def difference_between_lists(list1, list2):
    return list(set(list1) - set(list2))

In [ ]:
# 23. Merge two lists
def merge_lists(list1, list2):
    return list1 + list2

In [ ]:
# 24. Multiply all elements in a list by 2
def multiply_by_two(lst):
    return [x * 2 for x in lst]

In [ ]:
# 25. Filter out all even numbers from a list
def filter_even_numbers(lst):
    return [x for x in lst if x % 2 != 0]

In [ ]:
import random

In [ ]:
# 26. Convert a list of strings to a list of integers
def strings_to_integers(lst):
    return [int(x) for x in lst]

In [ ]:
# 27. Convert a list of integers to a list of strings
def integers_to_strings(lst):
    return [str(x) for x in lst]

In [ ]:
# 28. Flatten a nested list
def flatten_nested_list(nested_lst):
    flat_list = []
    for sublist in nested_lst:
        for item in sublist:
            flat_list.append(item)
    return flat_list

In [ ]:
# 29. Create a list of the first 10 Fibonacci numbers
def fibonacci_numbers(n=10):
    fib_list = [0, 1]
    for i in range(2, n):
        fib_list.append(fib_list[-1] + fib_list[-2])
    return fib_list[:n]

In [ ]:
# 30. Check if a list is sorted
def is_sorted(lst):
    return lst == sorted(lst)

In [ ]:
# 31. Rotate a list to the left by `n` positions
def rotate_left(lst, n):
    n = n % len(lst)  # Handle rotation greater than list length
    return lst[n:] + lst[:n]

In [ ]:
# 32. Rotate a list to the right by `n` positions
def rotate_right(lst, n):
    n = n % len(lst)  # Handle rotation greater than list length
    return lst[-n:] + lst[:-n]

In [ ]:
# 33. Create a list of prime numbers up to 50
def prime_numbers_up_to_50():
    primes = []
    for num in range(2, 51):
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                break
        else:
            primes.append(num)
    return primes

In [ ]:

# 34. Split a list into chunks of size `n`
def split_into_chunks(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

In [ ]:
# 35. Find the second largest number in a list
def second_largest(lst):
    unique_numbers = list(set(lst))
    if len(unique_numbers) < 2:
        return None
    unique_numbers.sort()
    return unique_numbers[-2]

In [ ]:
# 36. Replace every element in a list with its square
def replace_with_square(lst):
    return [x ** 2 for x in lst]

In [ ]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values
def list_to_dict(lst):
    return {value: index for index, value in enumerate(lst)}

In [ ]:
# 38. Shuffle the elements of a list randomly
def shuffle_list(lst):
    random.shuffle(lst)
    return lst

In [ ]:
# 39. Create a list of the first 10 factorial numbers
def factorial_numbers(n=10):
    factorials = []
    fact = 1
    for i in range(1, n + 1):
        fact *= i
        factorials.append(fact)
    return factorials

In [ ]:
# 40. Check if two lists have at least one element in common
def have_common_elements(list1, list2):
    return bool(set(list1) & set(list2))

In [ ]:
# 41. Remove all elements from a list
def remove_all_elements(lst):
    lst.clear()  # Clears the list
    return lst

In [ ]:
# 42. Replace negative numbers in a list with 0
def replace_negatives_with_zero(lst):
    return [max(0, x) for x in lst]

In [ ]:
# 43. Convert a string into a list of words
def string_to_word_list(string):
    return string.split()

In [ ]:
# 44. Convert a list of words into a string
def word_list_to_string(word_list):
    return ' '.join(word_list)

In [ ]:
# 45. Create a list of the first `n` powers of 2
def powers_of_two(n):
    return [2 ** i for i in range(n)]

In [ ]:
# 46. Find the longest string in a list of strings
def longest_string(strings):
    return max(strings, key=len) if strings else None

In [ ]:
# 47. Find the shortest string in a list of strings
def shortest_string(strings):
    return min(strings, key=len) if strings else None

In [ ]:
# 48. Create a list of the first `n` triangular numbers
def triangular_numbers(n):
    return [(i * (i + 1)) // 2 for i in range(1, n + 1)]

In [ ]:
# 49. Check if a list contains another list as a subsequence
def contains_subsequence(lst, subseq):
    it = iter(lst)
    return all(any(x == y for x in it) for y in subseq)

In [ ]:
# 50. Swap two elements in a list by their indices
def swap_elements(lst, index1, index2):
    if index1 < 0 or index1 >= len(lst) or index2 < 0 or index2 >= len(lst):
        raise IndexError("Index out of range.")
    lst[index1], lst[index2] = lst[index2], lst[index1]  # Swap the elements
    return lst
# Example usage
example_list = [10, 20, 30, 40, 50]
print("Original List:", example_list)
swapped_list = swap_elements(example_list, 1, 3)  # Swapping elements at indices 1 and 3
print("List After Swapping:", swapped_list)  # Output: [10, 40, 30, 20, 50]

In [ ]:
### TUPLE-BASED PRACTICE PROBLEM

In [ ]:
#1. Create a tuple with integers from 1 to 5.
#2. Access the third element of a tuple.
#3. Find the length of a tuple without using the `len()` function.
#4. Count the occurrences of an element in a tuple.
#5. Find the index of the first occurrence of an element in a tuple.
#6. Check if an element exists in a tuple.
#7. Convert a tuple to a list.
#8. Convert a list to a tuple.
#9. Unpack the elements of a tuple into variables.
#10. Create a tuple of even numbers from 1 to 10.
#11. Create a tuple of odd numbers from 1 to 10.
#12. Concatenate two tuples.
#13. Repeat a tuple three times.
#14. Check if a tuple is empty.
#15. Create a nested tuple.
#16. Access the first element of a nested tuple.
#17. Create a tuple with a single element.
#18. Compare two tuples.
#19. Delete a tuple.
#20. Slice a tuple.
#21. Find the maximum value in a tuple.
#22. Find the minimum value in a tuple.
#23. Convert a string to a tuple of characters.
#24. Convert a tuple of characters to a string.
#25. Create a tuple from multiple data types.
#26. Check if two tuples are identical.
#27. Sort the elements of a tuple.
#28. Convert a tuple of integers to a tuple of strings.
#29. Convert a tuple of strings to a tuple of integers.
#30. Merge two tuples.
#31. Flatten a nested tuple.
#32. Create a tuple of the first 5 prime numbers.
#33. Check if a tuple is a palindrome.
#34. Create a tuple of squares of numbers from 1 to 5.
#35. Filter out all even numbers from a tuple.
#36. Multiply all elements in a tuple by 2.
#37. Create a tuple of random numbers.
#38. Check if a tuple is sorted.
#39. Rotate a tuple to the left by `n` positions.
#40. Rotate a tuple to the right by `n` positions.
#41. Create a tuple of the first 5 Fibonacci numbers.
#42. Create a tuple from user input.
#43. Swap two elements in a tuple.
#44. Reverse the elements of a tuple.
#45. Create a tuple of the first `n` powers of 2.
#46. Find the longest string in a tuple of strings.
#47. Find the shortest string in a tuple of strings.
#48. Create a tuple of the first `n` triangular numbers.
#49. Check if a tuple contains another tuple as a subsequence.
#50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
# 1. Create a tuple with integers from 1 to 5
def create_tuple():
    return tuple(range(1, 6))

In [ ]:
# 2. Access the third element of a tuple
def access_third_element(tpl):
    return tpl[2] if len(tpl) >= 3 else None  # Check if the tuple has at least 3 elements

In [ ]:
# 3. Find the length of a tuple without using the `len()` function
def tuple_length(tpl):
    count = 0
    for _ in tpl:
        count += 1
    return coun
    #For example
    print("Length of Tuple:", tuple_length(tuple_example))

In [ ]:
# 4. Count the occurrences of an element in a tuple
def count_occurrences(tpl, element):
    count = 0
    for item in tpl:
        if item == element:
            count += 1
    return count
    #FOR EXAMPLE
    print("Occurrences of 2:", count_occurrences(tuple_example, 2))

In [ ]:
# 5. Find the index of the first occurrence of an element in a tuple
def index_of_element(tpl, element):
    try:
        return tpl.index(element)
    except ValueError:
        return -1  # Return -1 if the element is not found

In [ ]:
# 6. Check if an element exists in a tuple
def element_exists(tpl, element):
    return element in tpl

In [ ]:
# 7. Convert a tuple to a list
def tuple_to_list(tpl):
    return list(tpl)

In [ ]:
# 8. Convert a list to a tuple
def list_to_tuple(lst):
    return tuple(lst)

In [ ]:
# 9. Unpack the elements of a tuple into variables
def unpack_tuple(tpl):
    return tpl  # This can be done directly during assignment

In [ ]:
# 10. Create a tuple of even numbers from 1 to 10
def even_numbers_tuple():
    return tuple(x for x in range(1, 11) if x % 2 == 0)

In [ ]:

# 11. Create a tuple of odd numbers from 1 to 10
def odd_numbers_tuple():
    return tuple(x for x in range(1, 11) if x % 2 != 0)

In [ ]:
# 12. Concatenate two tuples
def concatenate_tuples(tpl1, tpl2):
    return tpl1 + tpl2

In [ ]:
# 13. Repeat a tuple three times
def repeat_tuple(tpl):
    return tpl * 3

In [ ]:
# 14. Check if a tuple is empty
def is_empty_tuple(tpl):
    return len(tpl) == 0

In [ ]:
# 15. Create a nested tuple
def create_nested_tuple():
    return ((1, 2), (3, 4), (5, 6))

In [ ]:
# 16. Access the first element of a nested tuple
def access_first_element_of_nested(tpl):
    return tpl[0]

In [ ]:
# 17. Create a tuple with a single element
def single_element_tuple(element):
    return (element,)

In [ ]:
# 18. Compare two tuples
def compare_tuples(tpl1, tpl2):
    return tpl1 == tp

In [ ]:
# 19. Delete a tuple
def delete_tuple(tpl_name):
    del tpl_name  # This will delete the tuple reference

In [ ]:
# 20. Slice a tuple
def slice_tuple(tpl, start, end):
    return tpl[start:end]

In [ ]:
# 21. Find the maximum value in a tuple
def max_in_tuple(tpl):
    return max(tpl)

In [ ]:
# 22. Find the minimum value in a tuple
def min_in_tuple(tpl):
    return min(tpl)

In [ ]:

# 23. Convert a string to a tuple of characters
def string_to_tuple(s):
    return tuple(s)

In [ ]:

# 24. Convert a tuple of characters to a string
def tuple_to_string(tpl):
    return ''.join(tpl)

In [ ]:
# 25. Create a tuple from multiple data types
def mixed_type_tuple():
    return (1, 'hello', 3.14, True)

In [ ]:
# 26. Check if two tuples are identical
def are_tuples_identical(tpl1, tpl2):
    return tpl1 == tpl2

In [ ]:
# 27. Sort the elements of a tuple
def sorted_tuple(tpl):
    return tuple(sorted(tpl))

In [ ]:
# 28. Convert a tuple of integers to a tuple of strings
def int_tuple_to_str_tuple(tpl):
    return tuple(str(x) for x in tpl)

In [ ]:
# 29. Convert a tuple of strings to a tuple of integers
def str_tuple_to_int_tuple(tpl):
    return tuple(int(x) for x in tpl)

In [ ]:
# 30. Merge two tuples
def merge_tuples(tpl1, tpl2):
    return tpl1 + tpl2

In [ ]:
# 31. Flatten a nested tuple
def flatten_nested_tuple(nested_tpl):
    flat_list = []
    for item in nested_tpl:
        if isinstance(item, tuple):
            flat_list.extend(flatten_nested_tuple(item))  # Recursively flatten
        else:
            flat_list.append(item)
    return tuple(flat_list)

In [ ]:
# 32. Create a tuple of the first 5 prime numbers
def first_five_primes():
    return (2, 3, 5, 7, 11)

In [ ]:
# 33. Check if a tuple is a palindrome
def is_palindrome(tpl):
    return tpl == tpl[::-1]

In [ ]:
# 34. Create a tuple of squares of numbers from 1 to 5
def squares_tuple():
    return tuple(x**2 for x in range(1, 6))

In [ ]:
# 35. Filter out all even numbers from a tuple
def filter_even_numbers(tpl):
    return tuple(x for x in tpl if x % 2 != 0)

In [ ]:
# 36. Multiply all elements in a tuple by 2
def multiply_tuple_elements(tpl):
    return tuple(x * 2 for x in tpl)

In [ ]:
import random

In [ ]:
# 37. Create a tuple of random numbers
def random_numbers_tuple(size, lower_bound, upper_bound):
    return tuple(random.randint(lower_bound, upper_bound) for _ in range(size))

In [ ]:
# 38. Check if a tuple is sorted
def is_sorted(tpl):
    return tpl == tuple(sorted(tpl))

In [ ]:
# 39. Rotate a tuple to the left by `n` positions
def rotate_left(tpl, n):
    n = n % len(tpl)  # Handle cases where n is larger than the tuple length
    return tpl[n:] + tpl[:n]

In [ ]:
# 40. Rotate a tuple to the right by `n` positions
def rotate_right(tpl, n):
    n = n % len(tpl)  # Handle cases where n is larger than the tuple length
    return tpl[-n:] + tpl[:-n]

In [ ]:
# 41. Create a tuple of the first 5 Fibonacci numbers
def fibonacci_tuple():
    fib = [0, 1]
    for i in range(2, 5):
        fib.append(fib[-1] + fib[-2])
    return tuple(fib)

In [ ]:
# 42. Create a tuple from user input
def tuple_from_input():
    user_input = input("Enter elements separated by commas: ")
    return tuple(user_input.split(','))

In [ ]:
# 43. Swap two elements in a tuple
def swap_tuple_elements(tpl, index1, index2):
    tpl_list = list(tpl)
    tpl_list[index1], tpl_list[index2] = tpl_list[index2], tpl_list[index1]
    return tuple(tpl_list)

In [ ]:
# 44. Reverse the elements of a tuple
def reverse_tuple(tpl):
    return tpl[::-1]

In [ ]:
# 45. Create a tuple of the first `n` powers of 2
def powers_of_two_tuple(n):
    return tuple(2**i for i in range(n))

In [ ]:
# 46. Find the longest string in a tuple of strings
def longest_string(tpl):
    return max(tpl, key=len)

In [ ]:

# 47. Find the shortest string in a tuple of strings
def shortest_string(tpl):
    return min(tpl, key=len)

In [ ]:
# 48. Create a tuple of the first `n` triangular numbers
def triangular_numbers_tuple(n):
    return tuple(i * (i + 1) // 2 for i in range(1, n + 1))

In [ ]:
# 49. Check if a tuple contains another tuple as a subsequence
def contains_subsequence(tpl, subseq):
    return any(tpl[i:i+len(subseq)] == subseq for i in range(len(tpl) - len(subseq) + 1))

In [ ]:
# 50. Create a tuple of alternating 1s and 0s of length `n`
def alternating_tuple(n):
    return tuple((i % 2) for i in range(n))

In [ ]:
#### SET BASED PRACTICE PROBLEM

In [ ]:
#1. Create a set with integers from 1 to 5.
#2. Add an element to a set.
#3. Remove an element from a set.
#4. Check if an element exists in a set.
#5. Find the length of a set without using the `len()` function.
#6. Clear all elements from a set.
#7. Create a set of even numbers from 1 to 10.
#8. Create a set of odd numbers from 1 to 10.
#9. Find the union of two sets.
#10. Find the intersection of two sets.
#11. Find the difference between two sets.
#12. Check if a set is a subset of another set.
#13. Check if a set is a superset of another set.
#14. Create a set from a list.
#15. Convert a set to a list.
#16. Remove a random element from a set.
#17. Pop an element from a set.
#18. Check if two sets have no elements in common.
#19. Find the symmetric difference between two sets.
#20. Update a set with elements from another set.
#21. Create a set of the first 5 prime numbers.
#22. Check if two sets are identical.
#23. Create a frozen set.
#24. Check if a set is disjoint with another set.
#25. Create a set of squares of numbers from 1 to 5.
#26. Filter out all even numbers from a set.
#27. Multiply all elements in a set by 2.
#28. Create a set of random numbers.
#29. Check if a set is empty.
#30. Create a nested set (hint: use frozenset).
#31. Remove an element from a set using the discard method.
#32. Compare two sets.
#33. Create a set from a string.
#34. Convert a set of strings to a set of integers.
#35. Convert a set of integers to a set of strings.
#36. Create a set from a tuple.
#37. Convert a set to a tuple.
#38. Find the maximum value in a set.
#39. Find the minimum value in a set.
#40. Create a set from user input.
#41. Check if the intersection of two sets is empty.
#42. Create a set of the first 5 Fibonacci numbers.
#43. Remove duplicates from a list using sets.
#44. Check if two sets have the same elements, regardless of their count.
#45. Create a set of the first `n` powers of 2.
#46. Find the common elements between a set and a list.
#47. Create a set of the first `n` triangular numbers.
#48. Check if a set contains another set as a subset.
#49. Create a set of alternating 1s and 0s of length `n`.
#50. Merge multiple sets into one.

In [ ]:
# 1. Create a set with integers from 1 to 5
def create_set():
    return {1, 2, 3, 4, 5}

In [ ]:
# 2. Add an element to a set
def add_element(s, element):
    s.add(element)

In [ ]:
# 3. Remove an element from a set
def remove_element(s, element):
    s.discard(element)  # Using discard to avoid KeyError if element doesn't exist

In [ ]:
# 4. Check if an element exists in a set
def element_exists(s, element):
    return element in s

In [ ]:

# 5. Find the length of a set without using the `len()` function
def length_of_set(s):
    count = 0
    for _ in s:
        count += 1
    return count

In [ ]:
# 6. Clear all elements from a set
def clear_set(s):
    s.clear()

In [ ]:
# 7. Create a set of even numbers from 1 to 10
def even_numbers_set():
    return {x for x in range(1, 11) if x % 2 == 0}

In [ ]:
# 8. Create a set of odd numbers from 1 to 10
def odd_numbers_set():
    return {x for x in range(1, 11) if x % 2 != 0}

In [ ]:
# 9. Find the union of two sets
def union_of_sets(set1, set2):
    return set1 | set2  # or set1.union(set2)

In [ ]:
# 10. Find the intersection of two sets
def intersection_of_sets(set1, set2):
    return set1 & set2  # or set1.intersection(set2)

In [ ]:
# 11. Find the difference between two sets
def difference_of_sets(set1, set2):
    return set1 - set2  # or set1.difference(set2

In [ ]:
# 12. Check if a set is a subset of another set
def is_subset(set1, set2):
    return set1 <= set2  # or set1.issubset(set2)

In [ ]:
# 13. Check if a set is a superset of another set
def is_superset(set1, set2):
    return set1 >= set2  # or set1.issuperset(set2)

In [ ]:
# 14. Create a set from a list
def set_from_list(lst):
    return set(lst)

In [ ]:
# 15. Convert a set to a list
def set_to_list(s):
    return list(s)

In [ ]:
import random

In [ ]:
# 16. Remove a random element from a set
def remove_random_element(s):
    if s:  # Check if the set is not empty
        element = random.choice(list(s))
        s.remove(element)
        return element
    return None  # Return None if the set is empty

In [ ]:
# 17. Pop an element from a set
def pop_element(s):
    return s.pop() if s else None  # Pop returns an element or None if set is empty

In [ ]:
# 18. Check if two sets have no elements in common
def have_no_common_elements(set1, set2):
    return set1.isdisjoint(set2)

In [ ]:
# 19. Find the symmetric difference between two sets
def symmetric_difference(set1, set2):
    return set1 ^ set2  # or set1.symmetric_difference(set2)

In [ ]:
# 20. Update a set with elements from another set
def update_set(set1, set2):
    set1.update(set2)

In [ ]:
# 21. Create a set of the first 5 prime numbers
def prime_numbers_set():
    return {2, 3, 5, 7, 11}

In [ ]:
# 22. Check if two sets are identical
def are_identical(set1, set2):
    return set1 == set2

In [ ]:
# 23. Create a frozen set
def create_frozen_set(iterable):
    return frozenset(iterable)

In [ ]:
# 24. Check if a set is disjoint with another set
def is_disjoint(set1, set2):
    return set1.isdisjoint(set2)

In [ ]:
# 25. Create a set of squares of numbers from 1 to 5
def squares_set():
    return {x**2 for x in range(1, 6)}

In [ ]:

# 26. Filter out all even numbers from a set
def filter_even_numbers(s):
    return {x for x in s if x % 2 != 0

In [ ]:
# 27. Multiply all elements in a set by 2
def multiply_elements_by_two(s):
    return {x * 2 for x in s}

In [ ]:
# 28. Create a set of random numbers
def random_numbers_set(size, lower_bound, upper_bound):
    return {random.randint(lower_bound, upper_bound) for _ in range(size)}

In [ ]:
# 29. Check if a set is empty
def is_empty(s):
    return len(s) == 0  # Alternatively, you can check if not s

In [ ]:
# 30. Create a nested set (using frozenset)
def nested_set():
    return {frozenset({1, 2}), frozenset({3, 4})}

In [ ]:
# 31. Remove an element from a set using the discard method
def discard_element(s, element):
    s.discard(element)  # No error if element is not found

In [ ]:
# 32. Compare two sets
def compare_sets(set1, set2):
    return {
        "equal": set1 == set2,
        "subset": set1 < set2,
        "superset": set1 > set2,
        "disjoint": set1.isdisjoint(set2)
    }

In [ ]:
# 33. Create a set from a string
def set_from_string(s):
    return set(s)  # Each character will be a unique element in the set

In [ ]:
# 34. Convert a set of strings to a set of integers
def convert_strings_to_integers(s):
    return {int(x) for x in s}

In [ ]:
# 35. Convert a set of integers to a set of strings
def convert_integers_to_strings(s):
    return {str(x) for x in s}

In [ ]:
# 36. Create a set from a tuple
def set_from_tuple(tpl):
    return set(tpl)

In [ ]:
# 37. Convert a set to a tuple
def set_to_tuple(s):
    return tuple(s)

In [ ]:
# 38. Find the maximum value in a set
def max_in_set(s):
    return max(s) if s else None

In [ ]:
# 39. Find the minimum value in a set
def min_in_set(s):
    return min(s) if s else None

In [150]:
# 40. Create a set from user input
def set_from_user_input():
    user_input = input("Enter elements separated by commas: ")
    return set(user_input.split(','))

In [ ]:
# 41. Check if the intersection of two sets is empty
def is_intersection_empty(set1, set2):
    return set1.isdisjoint(set2)

In [ ]:
# 42. Create a set of the first 5 Fibonacci numbers
def fibonacci_set():
    fib = [0, 1]
    for i in range(2, 5):
        fib.append(fib[-1] + fib[-2])
    return set(fib)

In [ ]:
# 43. Remove duplicates from a list using sets
def remove_duplicates(lst):
    return list(set(lst))

In [ ]:
# 44. Check if two sets have the same elements, regardless of their count
def have_same_elements(set1, set2):
    return set1 == set2

In [ ]:
# 45. Create a set of the first `n` powers of 2
def powers_of_two_set(n):
    return {2**i for i in range(n)}

In [ ]:
# 46. Find the common elements between a set and a list
def common_elements(set1, lst):
    return set1.intersection(lst)

In [ ]:
# 47. Create a set of the first `n` triangular numbers
def triangular_numbers_set(n):
    return {i * (i + 1) // 2 for i in range(1, n + 1)}

In [ ]:
# 48. Check if a set contains another set as a subset
def contains_subset(set1, subset):
    return subset <= set1  # or subset.issubset(set1)

In [ ]:
# 49. Create a set of alternating 1s and 0s of length `n`
def alternating_set(n):
    return {i % 2 for i in range(n)}  # This will create a set {0, 1}

In [149]:
# 50. Merge multiple sets into one
def merge_sets(*sets):
    result = set()
    for s in sets:
        result.update(s)
    return result
 # for a example:
    
set_a = {1, 2}
set_b = {3, 4}
set_c = {5, 6}
print("Merged Sets:", merge_sets(set_a, set_b, set_c))

Merged Sets: {1, 2, 3, 4, 5, 6}